{{#partial "content"}}
    <p>Job Title:</p>
    <p>{{job.title}}</p>
    <p>Job Description:</p>
    <p> {{job.description}}</p>
    <h5>Job Contact Info:</h5>
    <p>{{job.contactInfo}}</p>

    <form action="jobs/{{job.id}}/delete" method="post">Delete Listing
    <button type="submit">Delete!</button>
    </form>
{{/partial}}

{{> layout.hbs}}